// Podstawa
$main-color: #00b4d8;

html {
	body {
		margin: 0;
		background-image: linear-gradient(120deg,#3498db,#8e44ad);
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		letter-spacing: 3px;
		color: #fff;
	}
}

.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

::-webkit-scrollbar-thumb {
	background-color: $main-color;
}
::-webkit-scrollbar {
	width: 5px;
}

.tittle {
	font-weight: 400;
	font-size: 32.43px;
	margin: 0 0;
	text-transform: uppercase;
}

// Główny box
.box {
	border-radius: 50px;
	background: #201e1f;
	overflow: hidden;
	box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
	display: flex;
}

// Lewy box
.left-box {
	background: #312e2f;
	height: 700px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 50px;
}

.name-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}

.myname {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 13px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 20px;
	color: $main-color;
}

.mydesc {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 17.3px;
}

.animated-border {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 172px;
	width: 172px;
	
	&::before {
		content: "";
		height: 174px;
		width: 174px;
		border-radius: 50%;
		position: absolute;
		opacity: 0;
		background-image: conic-gradient(
			$main-color 20deg,
			transparent 150deg
		);
		animation: rotate 2s infinite linear 2.2s, fade 2s forwards ease 2s;
		@keyframes fade {
			100% {
				opacity: 1;
			}
		}
		@keyframes rotate {
			100% {
				transform: rotate(-360deg);
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		border-radius: 50%;
		width: 165px;
		height: 165px;
		background-image: url('https://i.imgur.com/itGmIUZ.png');
	}
}

.menu-name {
	color: $main-color;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 32.43px;
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
}

.social-media {
	display: flex;
	font-size: 20px;
	a {
		color: #fff;
		padding-left: 5px;
		padding-right: 5px;
		&:hover {
			color: $main-color;
		}
	}
}

.main-li {
	list-style: none;
	text-align: center;
	padding-left: 0;
}
nav {
	li {
		padding-bottom: 15px;
		padding-top: 15px;
		&:first-child {
			padding-top: 7px;
		}
	}
	a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 19.17px;
		font-weight: 300;
	}
	ul {
		margin: 0;
	}
}

.footer {
	font-size: 7px;
	text-align: center;
	text-transform: uppercase;
	h2 {
		font-weight: 300;
	}
}

// Prawy box
.right-box {
	background-color: #201e1f;
	overflow-x: hidden;
	overflow-y: scroll;
    height: 700px;
	display: flex;
	justify-content: center;
	padding-right: 0px;
	width: 0px;
}

.animation-right-box {
	width: 100%;
	display: flex;
	opacity: 0;
}

.close-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	overflow-y: scroll;
	font-size: 34px;
	margin-right: 15px;

	i {
		position: fixed;
		cursor: pointer;
	}
}

// Home
.home-right {
	display: flex;
	height: 100%;
	align-items: center;
    flex-direction: column;
    justify-content: center;

	.name-span {
		display: flex;
		padding-bottom: 13px;
	}

	.letter {
		font-weight: 400;
		font-size: 35px;
		color: white;
	}

	.letter:hover {
		color: $main-color;
	}
}

.name-right-box {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 13px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 35px;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.desc-right-box {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
}

// O mnie

.about-me-right-box {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 60px;
}

.about-me-1 {
	font-size: 18.3px;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 40px;
	letter-spacing: 0px;
	display: flex;
	line-height: 1.5;
	padding-right: 35px;

	.about-me-box {
		flex: 1;
		&:first-child {
			padding-right: 30px;
		}
		&:last-child {
			padding-left: 30px;
			
		}
		p {
			margin: 0;
		}
	}
	
	.info-right-box {
		display: flex;
		flex-direction: column;
    	justify-content: space-between;
	}
}

.main-color {
	color: $main-color;
}

.skill-box {
	display: flex;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 5px;
}

.skill {
	flex: 1;
	&:last-child {
		padding-left: 60px;
		padding-right: 35px;
		
	}
}

.skillbox {
	padding-bottom: 30px;
}

.skillbox-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 5px;
}

.skill-bar {
	background: #201e1f;
	padding: 4px;
	box-sizing: border-box;
	border: 1px solid $main-color;
	border-radius: 100px;
}
.skill-level {
	background: $main-color;
	width: 100%;
	height: 7px;
	border-radius: 100px;
	animation: progressBar1 2s ease;

	@keyframes progressBar1 {
		0% {
			width: 0%;
		}
	}
}

// Portfolio
.portfolio-right-box {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 60px;
}

.portfolio-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-right: 35px;
}

.portfolio-content {
	display: flex;
	align-items: center;
	padding-bottom: 5px;

	.portfolio-shape-left {
		display: flex;
		align-items: center;
		height: 280px;
		background-color: hsla(190, 100%, 42%, 0.5);
		border-radius: 83% 17% 79% 21% / 18% 41% 59% 82% ;
		// box-shadow: 0px 0px 15px -3px rgb(0, 0, 0);
	}

	.portfolio-shape-right {
		display: flex;
		align-items: center;
		height: 280px;
		background-color: hsla(190, 100%, 42%, 0.5);
		border-radius: 29% 71% 14% 86% / 40% 32% 68% 60%  ;
		// box-shadow: 0px 0px 15px -3px rgb(0, 0, 0);
	}
}

.portfolio-text-right {
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 25px;
		text-transform: uppercase;
		padding-bottom: 15px;
		color: $main-color;
		font-weight: 400;
	}

	p {
		margin-top: 0px;
		margin-bottom: 0px;
		letter-spacing: 0px;
		line-height: 1.5;
		font-weight: 300;
		font-size: 18.3px;
	}
}

.portfolio-text-left {
	display: flex;
	flex-direction: column;
	padding-right: 60px;
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 25px;
		text-align: right;
		text-transform: uppercase;
		padding-bottom: 15px;
		color: $main-color;
		font-weight: 400;
	}

	p {
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: right;
		letter-spacing: 0px;
		line-height: 1.5;
		font-weight: 300;
		font-size: 18.3px;
	}
}

.portfolio-img {
	width: 393.562px;
	border-radius: 21px;

	&:hover {
		opacity: 0.9;
	}
}

// Kontakt

.contact-right-box {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 35px;

	form {
		padding-top: 20px;
		button {
			background-color: $main-color;
			border: 0px;
			border-radius: 25px;
			color: white;
			font-family: Lato;
			font-size: 24px;
			padding: 7px;
			width: 200px;
			cursor: pointer;
			margin-top: 20px;
			&:hover {
				background-color: #009dbd;
			}
		}
	}
}

.form-message {
	padding-top: 20px;
}

.form-box {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;


	label {
		padding-bottom: 10px;
		font-size: 19px;
		// color: $main-color;
	}

	input {
		padding: 10px;
		border: 0px;
		font-family: Lato;
		background-color: #312e2f;
		color: white;
		border-radius: 25px;
		font-size: 18px;
	}

	textarea {
		padding: 10px;
		border: 0px;
		font-family: Lato;
		background-color: #312e2f;
		color: white;
		border-radius: 25px;
		resize: none;
		height: 143px;
		font-size: 17px;
	}
}


// Wersja mobilna
@media (max-width: 513.562px) {
	.portfolio-img {
		width: 100%;
	}
}

@media (max-width: 1500px) {
	.container {
		align-items: stretch;
		justify-content: left;
		height: 100%;
	}

	.box { 
		border-radius: 0px;
	}

	.left-box {
		height: 100vh;
		width: 100%;
		border-radius: 0px;
		position: absolute;
	}

	.right-box {
		width: 100%;
		height: 100%;
		flex-direction: column;
		.animation-right-box {
			width: 100%;
			order: 2;
		}
	}


	.home-right {
		width: 100vw;
	}

	.name-span {
		opacity: 0;
		position: absolute;
	}

	.name-right-box {
		position: static;
		opacity: 1;
		z-index: auto;
	}

	.close-arrow {
		justify-content: flex-end;
		width: 100vw;
		height: 65px;
		top: 0px;
		order: 1;
		position: fixed;
		background-color: #201e1f;

		i {
			padding-right: 30px;
		}
	}
	.about-me-right-box {
		padding-top: 80px;
		padding-left: 20px;
		padding-right: 20px;

		.about-me-1 {
			flex-direction: row;
		}
	}

	.skill-box {
		flex-direction: row;
	}

	.portfolio-right-box {
		padding-top: 80px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100vw;
		.tittle {
			padding-left: 0px;
		}

		.portfolio-box {
			padding-left: 0px;
			padding-right: 40px;
		}
	}	

	.portfolio-content {
		flex-direction: column;

		.portfolio-text-left {
			padding-right: 0px;
			margin-bottom: 40px;
			order: 2;
		}

		.portfolio-shape-right {
			margin-bottom: 40px;
			order: 1;
		}

		.portfolio-text-right {
			padding-left: 0px;
			margin-bottom: 40px;
		}

		.portfolio-shape-left {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 850px) {

	.about-me-right-box {
		padding-top: 80px;
		padding-left: 20px;
		padding-right: 20px;
		.tittle {
			padding-left: 0px;
		}

		.about-me-1 {
			padding-right: 0px;
			padding-left: 0px;
			flex-direction: column;

			.about-me-box {
				padding-right: 0px;
			}
		}

		.about-me-box:last-child {
			padding-top: 30px;
			padding-left: 0px;
		}
	}

	.skill-box {
		flex-direction: column;

		.skill {
			padding-left: 0px;
			padding-right: 0px;

			&:last-child {
				padding-top: 40px;
			}
		}
	}

	.contact-right-box {
		padding-top: 80px;
		padding-left: 20px;
		padding-right: 20px;
		height: 100vh;
	}
}